[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"

[requires]
python_version = "3.9"

[packages]
arrow = "*"
dj-database-url = "*"
django = ">=3.1"
django-debug-toolbar = ">=3.0"
django-jinja = ">=2.7"
djangorestframework = "*"
graphene = "*"
graphene_django = "*"
gunicorn = "*"
jinja2 = "*"
markdown = "*"
"psycopg2cffi" = "*"
sentry-sdk = "*"
uvicorn = {version="*", extras = ["standard"]}
whitenoise = "*"
blog = {editable = true, path = "."}
factory-boy = "*"

[dev-packages]
asgi-testclient = "*"
coverage = "*"
factory_boy = "*"
flake8 = "*"
flake8-import-order = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-django = "*"
tox = "*"

[pipenv]
allow_prereleases = true
