arrow==0.10.0
cffi==1.11.0
contextlib2==0.5.5
dj-database-url==0.4.2
dj-static==0.0.6
Django==1.11.5
django-debug-toolbar==1.8
django-jinja==2.4.0
djangorestframework==3.6.4
gunicorn==19.7.1
Jinja2==2.9.6
Markdown==2.6.9
MarkupSafe==1.0
psycopg2cffi==2.7.6
pycparser==2.18
python-dateutil==2.6.1
pytz==2017.2
raven==6.1.0
six==1.11.0
sqlparse==0.2.3
static3==0.7.0
