{% extends "base.html.j2" %}
{% block title %}Search{% endblock title %}

{% block content %}
    <h3>Search: <em>{{ query }}</em></h3>
    <br />
    {% if entries | length > 0 %}
    {% for entry in entries %}
        <h2><a href="/{{ entry.slug }}/">{{ entry.title }}</a></h2>
        <h6>posted {{ entry.fuzzy_date }} by  <a href="/about/">Ben Cordero</a>.</h6>
        {{ entry.summary|safe }}
        <div>
            <p><a href="/{{ entry.slug }}/">Read more</a></p>
        </div>
    {% endfor %}
    {% else %}
        <h2>No posts found</h2>
    {% endif %}
{% endblock content %}
